In [1]:
import pandas as pd

In [2]:
df_jf = pd.read_csv('Raw_data_Jan_Feb.csv')
df_mo = pd.read_csv('Raw_data_all_months.csv')

In [3]:
df_jf.head()

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,31,2020-01-02 00:20:30,01F0339S,2020-01-02 00:29:16,01F0509S,19.4,Y,2020-01-02 00:20:30+01F0339S; 2020-01-02 00:22...
1,1,31,2020-01-02 00:03:19,01F0339S,2020-01-02 00:12:14,01F0509S,19.4,Y,2020-01-02 00:03:19+01F0339S; 2020-01-02 00:05...
2,2,31,2020-01-02 00:49:08,01F0339S,2020-01-02 00:59:44,01F0509S,19.4,Y,2020-01-02 00:49:08+01F0339S; 2020-01-02 00:51...
3,3,31,2020-01-02 00:05:12,01F0339S,2020-01-02 00:15:59,01F0509S,19.4,Y,2020-01-02 00:05:12+01F0339S; 2020-01-02 00:07...
4,4,32,2020-01-02 00:51:06,01F0339S,2020-01-02 00:59:41,01F0509S,19.4,Y,2020-01-02 00:51:06+01F0339S; 2020-01-02 00:53...

In [4]:
df_mo.head()

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,31,2020-03-05 00:31:43,01F0339S,2020-03-05 00:41:17,01F0509S,19.4,Y,2020-03-05 00:31:43+01F0339S; 2020-03-05 00:33...
1,1,32,2020-03-05 00:56:26,01F0339S,2020-03-05 01:06:00,01F0509S,19.4,Y,2020-03-05 00:56:26+01F0339S; 2020-03-05 00:58...
2,2,31,2020-03-05 00:42:38,01F0339S,2020-03-05 00:53:28,01F0509S,19.4,Y,2020-03-05 00:42:38+01F0339S; 2020-03-05 00:45...
3,3,31,2020-03-05 00:13:57,01F0339S,2020-03-05 00:24:57,01F0509S,19.4,Y,2020-03-05 00:13:57+01F0339S; 2020-03-05 00:16...
4,4,31,2020-03-05 00:56:24,01F0339S,2020-03-05 01:03:52,01F0509S,19.4,Y,2020-03-05 00:56:24+01F0339S; 2020-03-05 00:58...

In [11]:
df = pd.concat([df_jf,df_mo])

In [12]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,31,2020-01-02 00:20:30,01F0339S,2020-01-02 00:29:16,01F0509S,19.4,Y,2020-01-02 00:20:30+01F0339S; 2020-01-02 00:22...
1,1,31,2020-01-02 00:03:19,01F0339S,2020-01-02 00:12:14,01F0509S,19.4,Y,2020-01-02 00:03:19+01F0339S; 2020-01-02 00:05...
2,2,31,2020-01-02 00:49:08,01F0339S,2020-01-02 00:59:44,01F0509S,19.4,Y,2020-01-02 00:49:08+01F0339S; 2020-01-02 00:51...
3,3,31,2020-01-02 00:05:12,01F0339S,2020-01-02 00:15:59,01F0509S,19.4,Y,2020-01-02 00:05:12+01F0339S; 2020-01-02 00:07...
4,4,32,2020-01-02 00:51:06,01F0339S,2020-01-02 00:59:41,01F0509S,19.4,Y,2020-01-02 00:51:06+01F0339S; 2020-01-02 00:53...

In [13]:
df.tail()

,Unnamed: 0,0,1,2,3,4,5,6,7
91679,91679,42,2020-09-24 23:12:01,01F0339S,2020-09-24 23:32:13,01F0509S,19.4,Y,2020-09-24 23:12:01+01F0339S; 2020-09-24 23:14...
91680,91680,32,2020-09-24 23:32:45,01F0339S,2020-09-24 23:43:58,01F0509S,19.4,Y,2020-09-24 23:32:45+01F0339S; 2020-09-24 23:35...
91681,91681,31,2020-09-24 23:02:18,01F0339S,2020-09-24 23:11:31,01F0509S,19.4,Y,2020-09-24 23:02:18+01F0339S; 2020-09-24 23:04...
91682,91682,32,2020-09-24 23:35:09,01F0339S,2020-09-24 23:49:48,01F0509S,19.4,Y,2020-09-24 23:35:09+01F0339S; 2020-09-24 23:38...
91683,91683,31,2020-09-24 23:12:39,01F0339S,2020-09-24 23:24:23,01F0509S,19.4,Y,2020-09-24 23:12:39+01F0339S; 2020-09-24 23:15...

In [17]:
df.sort_values(by=['1'], inplace=True, ascending=True)

In [19]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7
5,5,31,2020-01-02 00:00:22,01F0339S,2020-01-02 00:12:19,01F0509S,19.4,Y,2020-01-02 00:00:22+01F0339S; 2020-01-02 00:03...
30,30,31,2020-01-02 00:01:31,01F0339S,2020-01-02 00:11:50,01F0509S,19.4,Y,2020-01-02 00:01:31+01F0339S; 2020-01-02 00:03...
8,8,31,2020-01-02 00:01:33,01F0339S,2020-01-02 00:10:58,01F0509S,19.4,Y,2020-01-02 00:01:33+01F0339S; 2020-01-02 00:03...
11,11,42,2020-01-02 00:03:02,01F0339S,2020-01-02 00:12:20,01F0509S,19.4,Y,2020-01-02 00:03:02+01F0339S; 2020-01-02 00:05...
36,36,31,2020-01-02 00:03:12,01F0339S,2020-01-02 00:10:19,01F0509S,19.4,Y,2020-01-02 00:03:12+01F0339S; 2020-01-02 00:04...

In [23]:
df = df.drop(columns=['Unnamed: 0','0'])

In [24]:
df.head()

,1,2,3,4,5,6,7
5,2020-01-02 00:00:22,01F0339S,2020-01-02 00:12:19,01F0509S,19.4,Y,2020-01-02 00:00:22+01F0339S; 2020-01-02 00:03...
30,2020-01-02 00:01:31,01F0339S,2020-01-02 00:11:50,01F0509S,19.4,Y,2020-01-02 00:01:31+01F0339S; 2020-01-02 00:03...
8,2020-01-02 00:01:33,01F0339S,2020-01-02 00:10:58,01F0509S,19.4,Y,2020-01-02 00:01:33+01F0339S; 2020-01-02 00:03...
11,2020-01-02 00:03:02,01F0339S,2020-01-02 00:12:20,01F0509S,19.4,Y,2020-01-02 00:03:02+01F0339S; 2020-01-02 00:05...
36,2020-01-02 00:03:12,01F0339S,2020-01-02 00:10:19,01F0509S,19.4,Y,2020-01-02 00:03:12+01F0339S; 2020-01-02 00:04...

In [25]:
df.to_csv('All_Months_2020.csv')