In [1]:
import pandas as pd

In [17]:
# Make the individual csv files for each hour into individual dataframes.

# Change the "./March_dd_CSV" to generalize to different dates.
March_Directory = "./March_26_CSV"
# Similarly, change "yyyymmdd" to generalize to different dates.
March_Date = "20200326"

# Format: March_00 ==> March_hh.

March_00 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_000000.csv")
March_00 = March_00.T.reset_index(drop=True).T

March_01 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_010000.csv")
March_01 = March_01.T.reset_index(drop=True).T

March_02 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_020000.csv")
March_02 = March_02.T.reset_index(drop=True).T

March_03 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_030000.csv")
March_03 = March_03.T.reset_index(drop=True).T

March_04 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_040000.csv")
March_04 = March_04.T.reset_index(drop=True).T

March_05 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_050000.csv")
March_05 = March_05.T.reset_index(drop=True).T

March_06 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_060000.csv")
March_06 = March_06.T.reset_index(drop=True).T

March_07 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_070000.csv")
March_07 = March_07.T.reset_index(drop=True).T

March_08 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_080000.csv")
March_08 = March_08.T.reset_index(drop=True).T

March_09 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_090000.csv")
March_09 = March_09.T.reset_index(drop=True).T

March_10 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_100000.csv")
March_10 = March_10.T.reset_index(drop=True).T

March_11 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_110000.csv")
March_11 = March_11.T.reset_index(drop=True).T

March_12 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_120000.csv")
March_12 = March_12.T.reset_index(drop=True).T

March_13 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_130000.csv")
March_13 = March_13.T.reset_index(drop=True).T

March_14 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_140000.csv")
March_14 = March_14.T.reset_index(drop=True).T

March_15 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_150000.csv")
March_15 = March_15.T.reset_index(drop=True).T

March_16 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_160000.csv")
March_16 = March_16.T.reset_index(drop=True).T

March_17 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_170000.csv")
March_17 = March_17.T.reset_index(drop=True).T

March_18 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_180000.csv")
March_18 = March_18.T.reset_index(drop=True).T

March_19 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_190000.csv")
March_19 = March_19.T.reset_index(drop=True).T

March_20 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_200000.csv")
March_20 = March_20.T.reset_index(drop=True).T

March_21 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_210000.csv")
March_21 = March_21.T.reset_index(drop=True).T

March_22 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_220000.csv")
March_22 = March_22.T.reset_index(drop=True).T

March_23 = pd.read_csv(str(March_Directory)+"/TDCS_M06A_"+str(March_Date)+"_230000.csv")
March_23 = March_23.T.reset_index(drop=True).T

In [18]:
March_00.head()

,0,1,2,3,4,5,6,7
0,42,2020-03-26 00:24:57,03F1779N,2020-03-26 00:24:57,03F1779N,6.7,Y,2020-03-26 00:24:57+03F1779N
1,32,2020-03-26 00:32:01,01F0256N,2020-03-26 00:34:37,01F0213N,10.3,Y,2020-03-26 00:32:01+01F0256N; 2020-03-26 00:33...
2,31,2020-03-26 00:54:58,01F0376N,2020-03-26 00:57:23,01F0339N,8.4,Y,2020-03-26 00:54:58+01F0376N; 2020-03-26 00:57...
3,31,2020-03-26 00:53:26,01F3590N,2020-03-26 01:09:28,01F3286N,35,Y,2020-03-26 00:53:26+01F3590N; 2020-03-26 00:55...
4,31,2020-03-26 00:57:46,01F0248S,2020-03-26 01:11:23,01F0467S,25.9,Y,2020-03-26 00:57:46+01F0248S; 2020-03-26 00:58...

In [19]:
# df represents the combined dataframe for the selected date.

df = pd.concat([March_00,March_01, March_02, March_03, March_04, March_05, March_06, March_07, March_08, March_09, March_10, March_11, March_12, March_13, March_14, March_15, March_16, March_17, March_18, March_19, March_20, March_21, March_22, March_23], ignore_index=True)

In [20]:
# Check if the dataframe combined successfully.

df.shape

(3088234, 8)

In [21]:
# Export as csv

# Change File_Name 'March_dd' to generalize to different dates.
File_Name = 'March_26'
df.to_csv(str(File_Name)+'_FullData.csv')